<!DOCTYPE html>
<html>
<body>

    <h1>Changing Roles for: {{.Username}}</h1>
    <ul>
        <form action="/ChangeUserRole?username={{.Username}}" method="post" name="rolesForm">
        {{range .UserRoles}}

            {{if .HasAccess}}
                    <input type="checkbox" checked="checked" name="{{.RoleName}}"> {{.RoleName}}
            {{else}}
                    <input type="checkbox" name="{{.RoleName}}"> {{.RoleName}}
            {{end}}

            <br/>
        {{end}}
        <input type="submit" value="Submit"/>
        </form>
    </ul>

</body>
</html>
